@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Libre Bodoni';
  src: url('/fonts/libre_bodoni.woff2') format('woff2'),
    url('/fonts/libre_bodoni.woff') format('woff'),
    url('/fonts/libre_bodoni.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Harley Script';
  src: url('/fonts/harley.woff2') format('woff2'),
    url('/fonts/harley.woff') format('woff'),
    url('/fonts/harley.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: 'Libre Bodoni';
  color: theme('colors.dark');
  background-color: theme('colors.light');
  transition: color 1s, background-color 1s;
}

body.dark-mode {
  color: theme('colors.light');
  background-color: theme('colors.dark');
}

:root {
  --blendmode: multiply;
}

body.dark-mode {
  --blendmode: screen;
}

.callout {
  color: theme('colors.white');
  mix-blend-mode: var(--blendmode);
}

::selection {
  color: theme('colors.light');
  background: theme('colors.dark');
}

body.dark-mode ::selection {
  color: theme('colors.dark');
  background: theme('colors.light');
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}



